body
{
    background-color: rgb(33, 30, 30);
}
.row
{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card
{
    margin: 10px;
    background: linear-gradient(white,rgb(93, 246, 241));
}

.card:hover
{
    box-shadow: rgb(96, 81, 81) 10px 10px;
    scale: 1.05;
    transition: 1000ms;
}

.card a
{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.footer{
    display:flex;
    justify-content: space-between;
    color:white;
}